
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
QtCalculator_LSH/.vs/QtCalculator_LSH/v16/.suo
*.obj
*.cpp
*.props
*.stash
*.txt
*.log
*.pro
*.recipe
*.tlog
*.h
*.pdb
*.exe
*.ilk
QtCalculator_LSH/QtCalculator_LSH/x64/Debug/qmake/temp/Makefile
QtCalculator_LSH/QtCalculator_LSH/x64/Release/qmake/temp/Makefile
*.qm

QtCalculator_LSH/x64/Release/opengl32sw.dll
QtCalculator_LSH/x64/Release/D3Dcompiler_47.dll
QtCalculator_LSH/x64/Release/iconengines/qsvgicon.dll
QtCalculator_LSH/x64/Release/imageformats/qgif.dll
QtCalculator_LSH/x64/Release/imageformats/qicns.dll
QtCalculator_LSH/x64/Release/imageformats/qico.dll
QtCalculator_LSH/x64/Release/imageformats/qjpeg.dll
QtCalculator_LSH/x64/Release/imageformats/qsvg.dll
QtCalculator_LSH/x64/Release/imageformats/qtga.dll
QtCalculator_LSH/x64/Release/imageformats/qtiff.dll
QtCalculator_LSH/x64/Release/imageformats/qwbmp.dll
QtCalculator_LSH/x64/Release/imageformats/qwebp.dll
QtCalculator_LSH/x64/Release/libEGL.dll
QtCalculator_LSH/x64/Release/libGLESV2.dll
QtCalculator_LSH/x64/Release/Qt5Svg.dll
QtCalculator_LSH/x64/Release/styles/qwindowsvistastyle.dll
QtCalculator_LSH/Bin/Debug/D3Dcompiler_47.dll
QtCalculator_LSH/Bin/Debug/iconengines/qsvgicond.dll
QtCalculator_LSH/Bin/Debug/imageformats/qgifd.dll
QtCalculator_LSH/Bin/Debug/imageformats/qicnsd.dll
QtCalculator_LSH/Bin/Debug/imageformats/qicod.dll
QtCalculator_LSH/Bin/Debug/imageformats/qjpegd.dll
QtCalculator_LSH/Bin/Debug/imageformats/qsvgd.dll
QtCalculator_LSH/Bin/Debug/imageformats/qtgad.dll
QtCalculator_LSH/Bin/Debug/imageformats/qtiffd.dll
QtCalculator_LSH/Bin/Debug/imageformats/qwbmpd.dll
QtCalculator_LSH/Bin/Debug/imageformats/qwebpd.dll
QtCalculator_LSH/Bin/Debug/libEGLd.dll
QtCalculator_LSH/Bin/Debug/libGLESV2d.dll
QtCalculator_LSH/Bin/Debug/opengl32sw.dll
QtCalculator_LSH/Bin/Debug/platforms/qwindowsd.dll
QtCalculator_LSH/Bin/Debug/Qt5Cored.dll
QtCalculator_LSH/Bin/Debug/Qt5Guid.dll
QtCalculator_LSH/Bin/Debug/Qt5Svgd.dll
QtCalculator_LSH/Bin/Debug/Qt5Widgetsd.dll
QtCalculator_LSH/Bin/Debug/styles/qwindowsvistastyled.dll
QtCalculator_LSH/Bin/Release/D3Dcompiler_47.dll
QtCalculator_LSH/Bin/Release/iconengines/qsvgicon.dll
QtCalculator_LSH/Bin/Release/imageformats/qgif.dll
QtCalculator_LSH/Bin/Release/imageformats/qicns.dll
QtCalculator_LSH/Bin/Release/imageformats/qico.dll
QtCalculator_LSH/Bin/Release/imageformats/qjpeg.dll
QtCalculator_LSH/Bin/Release/imageformats/qsvg.dll
QtCalculator_LSH/Bin/Release/imageformats/qtga.dll
QtCalculator_LSH/Bin/Release/imageformats/qtiff.dll
QtCalculator_LSH/Bin/Release/imageformats/qwbmp.dll
QtCalculator_LSH/Bin/Release/imageformats/qwebp.dll
QtCalculator_LSH/Bin/Release/libEGL.dll
QtCalculator_LSH/Bin/Release/libGLESV2.dll
QtCalculator_LSH/Bin/Release/opengl32sw.dll
QtCalculator_LSH/Bin/Release/Qt5Svg.dll
QtCalculator_LSH/Bin/Release/styles/qwindowsvistastyle.dll
