
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
QtCalculator_LSH/.vs/QtCalculator_LSH/v16/.suo
*.obj
*.cpp
*.props
*.stash
*.txt
*.log
*.pro
*.recipe
*.tlog
*.h
*.pdb
*.exe
*.ilk
QtCalculator_LSH/QtCalculator_LSH/x64/Debug/qmake/temp/Makefile
QtCalculator_LSH/QtCalculator_LSH/x64/Release/qmake/temp/Makefile
